.alphabet {
  .reset-margins;
  .list-style-none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  &--sort {
    padding-bottom: 284px;
    position: relative;
  }
}

.alphabet__item {
  text-align: center;
  box-sizing: border-box;
  background-color: @basic-white;
  border: 1px solid @special-border-grey;
  .fonts(-2; 1; 500);
  margin-left: -1px;
  margin-top: -1px;

  &--current {
    background-color: @basic-grey;
  }

  &--current-sort {
    position: relative;
    z-index: 2;
    background-color: @basic-blue-light;
    border: 1px solid @basic-blue-light;
  }
}

.alphabet__link {
  display: block;
  padding: 12px 0;
  color: @basic-blue-light;

  &--current-sort {
    color: @basic-white;
  }
}
