.card {
  background-color: @basic-white;
  border-radius: 11px;
  padding: 23px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 40px 40px 14px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card__title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.card__number {
  .reset-margins;
  .fonts(0; 0; 500);
  margin-right: 5px;

  @media (min-width: @tablet-width) {
    margin-right: -8px;
    .fonts(4; 4; 500);
  }

  @media (min-width: @desktop-width) {
    margin-right: 36px;
    .fonts(4; 4; 500);
  }
}

.card__countries {
  .reset-margins;
  .fonts(0; 0; 700);
  text-transform: initial;

  @media (min-width: @tablet-width) {
    .fonts(8; 8; 700);
  }
}

.card__info {
  .fonts(-2; -2; 500);
  letter-spacing: 0.06em;

  @media (min-width: @tablet-width) {
    .fonts(4; 4; 500);
    letter-spacing: 0.1em;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
  }
}

.card__trip-info {
  .reset-margins;

  &:not(:last-of-type) {
    margin-bottom: 5px;

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  &:last-of-type {
    margin-bottom: 24px;

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  &--dates {
    @media (min-width: @tablet-width) {
      letter-spacing: 0.06em;
    }
  }
}

.card__link {
  .reset-margins;
  letter-spacing: 0.03em;
  color: rgb(@basic-black, 0.3);
  text-align: center;

  @media (min-width: @tablet-width) {
    letter-spacing: 0.1em;
  }

  @media (min-width: @desktop-width) {
    letter-spacing: 0.08em;
  }
}
