.catalog-list {
  .list-style-none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.catalog-list__item {
  position: relative;
  background-color: @basic-white;
  border-radius: 10px;
  .fonts(0; 2; 400);
  text-align: center;
  color: @special-grey-dark;
  padding-bottom: 20px;

  &:not(:last-of-type) {
    margin-bottom: 9px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
      margin-right: 50px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 60px;
    }
  }
}

.catalog-list__avatar {
  border-radius: 10px 10px 0 0;
  width: 100%;
  object-fit: fill;
}

.catalog-list__level {
  position: absolute;
  top: 17px;
  left: 17px;
}

.catalog-list__name {
  .reset-margins;
  margin-top: 27px;
  margin-bottom: 15px;
}

.catalog-list__tags {
  .reset-margins;
  margin-bottom: 14px;
}

.catalog-list__transport-list {
  .reset-margins;
}
