.contacts-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .list-style-none;

  &--inner {
    display: none;
  }

  &--main {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-end;
    max-width: 30%;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-end;
    max-width: 100%;
  }
}

.contacts-list__link {
  display: block;
  color: @basic-blue;
  text-transform: uppercase;
  position: relative;
  .fonts(0; 0);

  &--login {
    .fonts(1; 4; 700);
    padding: 10px 39px;

    &:hover,
    &:focus {
      background-color: @special-yellow-dark;
    }

    &:active {
      color: rgb(@basic-blue, 0.3);
    }

    @media (min-width: @tablet-width) {
      .fonts(4; 4; 700);
      padding: 15px 29px;
    }
  }

  &--phone {
    background-color: @basic-orange;

    &::before {
      background-image: url("../../img/icons/phone.svg");
    }

    &:hover,
    &:focus {
      background-color: @hover-orange;
    }
  }

  &--mail {
    background-color: @special-yellow-dark;

    &::before {
      background-image: url("../../img/icons/mail.svg");
    }

    &:hover,
    &:focus {
      background-color: @basic-orange;
    }
  }

  &--phone,
  &--mail {
    padding: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 19px;
      height: 19px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:active::before {
      opacity: 0.3;
    }

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
      padding: 25px;
    }
  }
}
