.countries-list {
  .list-style-none;
}

.countries-list__item {
  &:not(:last-of-type) {
    margin-bottom: 11px;
  }
}

.countries-list__image {
  border-radius: 15px 15px 0 0;
  object-fit: fill;
}

.countries-list__info-country {
  margin-top: -15px;
  position: relative;
  z-index: 10;
}
