.countries-list {
  .list-style-none;
  position: relative;

  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      z-index: 100;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 20%;
      background-image: linear-gradient(to top, rgba(@basic-grey, 1) 0%, rgba(@basic-grey, 0.7) 30%, rgba(@basic-grey, 0) 100%);
    }
  }
}

.countries-list__item {
  picture {
    .fonts(-16; -16; 0);

    @media (min-width: @tablet-width) {
      order: 2;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;

    @media (min-width: @tablet-width) {
      margin-bottom: 11px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 10px;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.countries-list__image {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 110px;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    border-radius: 0 20px 20px 0;
    min-width: 186px;
    height: 140px;
  }
}

.countries-list__info-country {
  margin-top: -16px;
  position: relative;
  z-index: 10;
  .fonts(0; 2; 500);
  color: rgb(@special-grey-dark, 0.3);
  background-color: @basic-white;
  border-radius: 10px;
  padding: 24px 24px 8px 24px;
  min-height: 89px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 100%;
    min-height: 140px;
    margin-top: 0;
    border-radius: 20px 0 0 20px;
    padding: 28px 29px 42px 29px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 21px;
  }
}

.countries-list__title {
  .reset-margins;
  .fonts(5; 5; 700);
  color: @basic-black;
  margin-bottom: 2px;
  padding-right: 30%;

  @media (min-width: @tablet-width) {
    margin-bottom: 5px;
    .fonts(8; 8; 700);
  }
}

.countries-list__text {
  .reset-margins;
  .fonts(0; 2; 500);
  padding-right: 30%;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .fonts(4; 4; 500);

    br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    br {
      display: none;
    }
  }
}

.countries-list__users {
  .reset-margins;
  color: rgb(@basic-blue, 0.3);
  position: absolute;
  top: 28px;
  left: 75.3%;
  .fonts(0; 2; 500);

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: -19px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../../img/icons/icon-users.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: @tablet-width) {
      width: 22px;
      height: 22px;
      left: -30px;
    }
  }

  @media (min-width: @tablet-width) {
    top: auto;
    bottom: 22px;
    left: 58px;
    .fonts(4; 4; 500);
  }

  @media (min-width: @desktop-width) {
    left: 60px;
    bottom: 24px;
  }
}
