.days {
  .list-style-none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  text-align: center;
}

.days__item {
  padding: 6px 7px;
  .fonts(-2; 2; 500);
  color: @basic-blue-light;
  background-color: @basic-grey;
  border: 1px solid @special-border-grey;
  border-left: 0;
  margin-bottom: -1px;
  box-sizing: border-box;

  &:nth-of-type(7n + 1) {
    border-left: 1px solid @special-border-grey;
  }

  @media (min-width: @tablet-width) {
    padding: 25px;
    .fonts(2; 2; 400);
  }

  @media (min-width: @desktop-width) {
    padding: 13px 16px;
    text-align: left;
  }

  &--disabled {
    background-color: @basic-white;
    color: rgb(@special-grey-dark, 0.3);
  }

  &--choosen {
    background-color: @basic-blue-light;
    color: @basic-white;
  }
}

.days__item-name {
  .reset-margins;
  margin-top: 9px;

  &--hide {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  &--month {
    margin: 0;

    @media (min-width: @desktop-width) {
      display: inline-block;
    }
  }
}
