.direction {
  background-color: @basic-grey;
  border-radius: 0 0 30px 30px;
  padding-top: 60px;
  .set-wrapper;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}

.direction__wrapper {
  padding-top: 68px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding: 73px 35px 80px 35px;
    background-image:
      url("../../img/desktop/direction_back_desktop.png"),
      url("../../img/desktop/direction_back_desktop.svg");
    background-position: right 80px, left 408px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../../img/desktop/direction_back_desktop@2x.png"),
        url("../../img/desktop/direction_back_desktop.svg");
      background-size: 287px, 140px;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 170px;
    padding: 161px 73px 138px 73px;
    background-image:
      url("../../img/desktop/direction_back_desktop.png"),
      url("../../img/desktop/direction_back_desktop.svg");
    background-position: right 88px, left 88px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../../img/desktop/direction_back_desktop@2x.png"),
        url("../../img/desktop/direction_back_desktop.svg");
      background-size: 287px, 140px;
    }
  }
}

.direction__intro {
  margin-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 104px;
    padding: 0 45% 0 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    margin-bottom: 0;
    padding-right: 180px;
  }
}

.direction__title {
  .reset-margins;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }
}

.direction__text {
  .reset-margins;
  .text;
  color: @special-grey-dark;
}

.direction__countries {
  .reset-margins;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    margin-bottom: 0;
  }
}

.direction__link {
  display: block;

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    box-sizing: border-box;
    max-height: 80px;
    width: 274px;
    margin-top: auto;
  }
}
