.direction {
  background-color: @basic-grey;
  border-radius: 0 0 30px 30px;
  padding-top: 60px;
  .set-wrapper;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}

.direction__wrapper {
  padding-top: 68px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding: 73px 35px 80px 35px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 172px;
    padding: 161px 73px 138px 73px;
  }
}

.direction__intro {
  margin-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 104px;
    padding: 0 170px 0 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    margin-bottom: 0;
  }
}

.direction__title {
  .reset-margins;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }
}

.direction__text {
  .reset-margins;
  .text;
  color: @special-grey-dark;
}

.direction__countries {
  .reset-margins;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    margin-bottom: 0;
  }
}

.direction__link {
  display: block;

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    box-sizing: border-box;
    max-height: 80px;
    width: 274px;
    margin-top: auto;
  }
}
