.direction {
  background-color: @basic-grey;
  border-radius: 0 0 30px 30px;
  padding-top: 60px;
  .set-wrapper;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}

.direction__wrapper {
  padding-top: 68px;
  padding-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding: 70px 35px 80px 35px;
    background-image:
      url("../../img/desktop/direction-back.png"),
      url("../../img/desktop/direction-back.svg");
    background-position: right 80px, left 408px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../../img/desktop/direction-back@2x.png"),
        url("../../img/desktop/direction-back.svg");
      background-size: 287px, 140px;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 57px;
    padding: 161px 73px 149px 70px;
    background-position: right 88px, left 88px;
  }
}

.direction__intro {
  margin-bottom: 60px;
  padding-left: 24px;
  padding-right: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 104px;
    padding: 0 45% 0 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    margin-bottom: 0;
    margin-left: 115px;
    padding-right: 100px;
  }
}

.direction__title {
  .reset-margins;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 61px;
  }
}

.direction__text {
  .reset-margins;
  .text;
  line-height: 23px;
  color: @special-grey-dark;

  @media (min-width: @desktop-width) {
    padding-bottom: 100px;
  }
}

.direction__countries {
  .reset-margins;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    margin-bottom: 0;
  }
}

.direction__link {
  display: block;

  @media (min-width: @tablet-width) {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    box-sizing: border-box;
    max-width: 274px;
    margin-top: auto;
    margin-bottom: -11px;
    margin-left: 115px;
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
