.extra-contacts {
  display: flex;
  flex-direction: column;
  text-align: left;
  .fonts(0; 2; 700);

  @media (min-width: @tablet-width) {
    .fonts(12; 12; 700);
  }

  &--header {
    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--registration {
    @media (min-width: @desktop-width) {
      flex-direction: row;
      justify-content: center;
    }
  }
}

.extra-contacts__item:not(:last-of-type) {
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-right: 110px;
  }
}

.extra-contacts__item {
  padding-left: 61px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 90px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 121px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 45px;
    height: 45px;
    background-color: @special-contacts-bg;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      width: 68px;
      height: 68px;
    }

    @media (min-width: @desktop-width) {
      width: 90px;
      height: 90px;
    }
  }

  &--registration {
    color: @basic-yellow;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: @special-yellow-dark;
    }

    &:hover .extra-contacts__icon,
    &:focus .extra-contacts__icon {
      fill: @special-yellow-dark;
    }

    &:active {
      color: rgba(@basic-yellow, 0.3);
    }

    &:active .extra-contacts__icon {
      fill: rgba(@basic-yellow, 0.3);
    }
  }
}

.extra-contacts--header > .extra-contacts__item > .extra-contacts__icon {
  color: @basic-yellow;
}

.extra-contacts__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: @basic-yellow;

  &--phone {
    left: 13px;

    @media (min-width: @tablet-width) {
      width: 27px;
      height: 26px;
      left: 20px;
    }

    @media (min-width: @desktop-width) {
      width: 36px;
      height: 34px;
      left: 26px;
    }
  }

  &--mail {
    left: 10px;

    @media (min-width: @tablet-width) {
      width: 36px;
      height: 38px;
      left: 16px;
    }

    @media (min-width: @desktop-width) {
      width: 47px;
      height: 50px;
      left: 21px;
    }
  }
}
