.filter-list {
  .reset-margins;
  .list-style-none;
  padding: 13px 0 9px 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    row-gap: 5px;
    align-items: center;
    padding: 0;
    margin-left: 2px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin: 0;
    padding: 25px 0 10px 0;
  }

  &--hide {
    display: none;

    @media (min-width: @tablet-width) {
      display: grid;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--nojs {
    display: block;

    @media (min-width: @tablet-width) {
      display: grid;
    }

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}

.filter-list__item {
  & + & {
    margin-top: 8px;

    @media (min-width: @tablet-width) {
      margin-top: 0;
    }

    @media (min-width: @desktop-width) {
      margin-top: 15px;
    }
  }
}

.filter-list__item-name {
  .fonts(-1; 4; 400);
  display: inline-block;
  color: @basic-black;
  padding-left: 27px;
  position: relative;

  &:hover,
  &:focus {
    color: rgba(@basic-black, 0.6);
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.6;
  }

  &:active {
    color: rgba(@basic-black, 0.3);
  }

  &:active::before {
    opacity: 0.3;
  }

  &:active::after {
    opacity: 0.2;
  }

  @media (min-width: @tablet-width) {
    .fonts(4; 8; 400);
    padding-left: 36px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 18px;
    height: 18px;
    background-color: @basic-white;
    border-radius: 4px;

    @media (min-width: @tablet-width) {
      width: 24px;
      height: 24px;
    }
  }

  .filter-list-checkbox:checked + &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/icons/icon-check-mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;

    @media (min-width: @tablet-width) {
      width: 24px;
      height: 24px;
      background-size: auto;
    }
  }
}

.filter-list__filter-level {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    order: 2;
    margin-bottom: 0;
    margin-left: 3px;
  }

  @media (min-width: @desktop-width) {
    margin: -4px 0 36px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 12px;
    background-color: @basic-white;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 1px;
    margin-left: -1px;
    background-color: @special-border-grey;
    z-index: 2;
  }
}

.filter-list__filter-level-item {
  width: 50%;
  height: 35px;
  background-color: @basic-white;
  box-sizing: border-box;
  border: 1px solid @special-border-grey;
  text-align: center;
  .set-font;
  .fonts(-2; -2; 500);
  letter-spacing: 0.06em;
  color: @basic-blue-light;

  &:hover {
    border-color: @counter-border-hover;
    z-index: 1;
  }

  &:focus {
    border-color: @basic-blue;
    z-index: 1;
    outline: none;
  }

  &:first-of-type {
    border-radius: 4px 0 0 4px;
  }

  &:last-of-type {
    border-radius: 0 4px 4px 0;
    transform: translateX(-1px);
  }

  @media (min-width: @tablet-width) {
    padding: 22px 20px;
    .fonts(4; 4; 500);
    letter-spacing: 0.04em;
  }

  &::placeholder {
    color: @basic-blue-light;
  }
}

.filter-list__range {
  margin-bottom: 13px;
  width: 100%;
  height: 2px;
  background-color: rgb(@basic-blue-light, 0.2);
  position: relative;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
    width: 87%;
    height: 3px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
    width: 100%;
  }
}

.filter-list__range-line {
  width: 67%;
  height: 100%;
  background-color: @basic-blue-light;
  opacity: 1;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    width: 62%;
  }

  @media (min-width: @desktop-width) {
    width: 63%;
  }
}

.filter-list__range-control {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: @basic-blue-light;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &:hover,
  &:focus {
    transform: scale(1.55) translateY(-35%);
  }

  &:active {
    box-shadow: 0 3px 7px rgba(@basic-black, 0.24);
  }

  @media (min-width: @tablet-width) {
    width: 13px;
    height: 13px;
  }

  &--min {
    left: 32.5%;
    margin-left: -5px;

    @media (min-width: @tablet-width) {
      left: 38%;
    }

    @media (min-width: @desktop-width) {
      left: 33.5%;
    }
  }

  &--max {
    right: -1px;
  }
}
