.filters {
  background-color: @basic-grey;
  padding-top: 81px;
  color: @basic-blue-light;
}

.filters__wrapper {
  .set-wrapper;
}

.filters__ideal-traveler-list {
  background-color: @basic-yellow;
  border-radius: 20px;
  padding: 26px 25px 22px 25px;
}
