.filters {
  .set-wrapper;
  color: @basic-blue-light;

  @media (min-width: @desktop-width) {
    order: 2;
    width: 21.5%;
    padding-left: 0;
  }
}

.filters__wrapper {
  padding-top: 21px;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.filters__ideal-traveler-list {
  background-color: @basic-yellow;
  border-radius: 20px;
  padding: 26px 25px 22px 25px;

  @media (min-width: @tablet-width) {
    padding: 37px 34px;
  }

  @media (min-width: @desktop-width) {
    padding: 46px 46px 48px 48px;
  }
}
