.flags {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;

  .list-style-none;
  .reset-margins;
  display: flex;
  justify-content: center;

  &--single {
    left: 25px;
    right: auto;
    justify-content: flex-start;

    @media (min-width: @tablet-width) {
      top: 17px;
      left: auto;
      right: -35px;
    }

    @media (min-width: @desktop-width) {
      top: 23px;
    }
  }
}

.flags__flags-item {
  width: 35px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;

  &:not(:last-of-type) {
    margin-right: 20px;
  }

  &--single {
    @media (min-width: @tablet-width) {
      width: 70px;
      height: 47px;
    }
  }

  &--sri-lanka {
    background-image: url("../../img/desktop/sri-lanka-flag.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/sri-lanka-flag@2x.png");
    }
  }

  &--france {
    background-image: url("../../img/desktop/france-flag.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/france-flag@2x.png");
    }
  }

  &--czech {
    background-image: url("../../img/desktop/czech-flag.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/czech-flag@2x.png");
    }
  }

  &--usa {
    background-image: url("../../img/desktop/usa-flag.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/usa-flag@2x.png");
    }
  }

  &--belgium {
    background-image: url("../../img/desktop/belgium-flag.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/belgium-flag@2x.png");
    }
  }

  &--thailand {
    background-image: url("../../img/desktop/thailand-flag.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/thailand-flag@2x.png");
    }
  }

  &--seychelles {
    background-image: url("../../img/desktop/seychelles-flag.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/seychelles-flag@2x.png");
    }
  }

  &--england {
    background-image: url("../../img/desktop/england-flag.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/england-flag@2x.png");
    }
  }

  &--australia {
    background-image: url("../../img/desktop/australia-flag.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/australia-flag@2x.png");
    }
  }

  &--germany {
    background-image: url("../../img/desktop/germany-flag.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/germany-flag@2x.png");
    }
  }

  &--bosnia-and-herzegovina {
    background-image: url("../../img/desktop/bosnia-and-herzegovina-flag.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/bosnia-and-herzegovina-flag@2x.png");
    }
  }

  &--dominica {
    background-image: url("../../img/desktop/dominica-flag.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop/dominica-flag@2x.png");
    }
  }
}
