.ideal-traveler-cards {
  .set-wrapper;

  @media (min-width: @desktop-width) {
    width: 70%;
    padding-right: 0;
    box-sizing: border-box;
  }
}

.ideal-traveler-cards__wrapper {
}

.ideal-traveler-cards__cards-list {
  .reset-margins;
  .list-style-none;
  color: @special-grey-dark;
  margin-bottom: 20px;
}

.ideal-traveler-cards__item {
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.ideal-traveler-cards__add-item {
  width: 100%;
  margin-bottom: 18px;
  .set-font;
  .fonts(1; 14; 700);
  color: @basic-blue-light;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: transparent;
}

.ideal-traveler-cards__pages {
  margin-bottom: 106px;
}
