.ideal-travelers-list__title {
  .reset-margins;
  .fonts(6; 6; 700);
  letter-spacing: 0.02em;
  margin-bottom: 23px;
}

.ideal-travelers-list__item {
  .reset-margins;
  padding: 12px 0;
  border: none;
  border-top: 1px solid @special-border-filter;
}

.ideal-travelers-list__filter-title {
  .reset-margins;
  .fonts(0; 2; 700);
  text-transform: uppercase;
}

.ideal-travelers-list__filter-list {
  .reset-margins;
  margin-top: 17px;
}

.ideal-travelers-list__button {
  width: 100%;
  .set-font;
  background-color: @basic-white;
  text-transform: uppercase;
  .fonts(1; 1; 700);
  padding: 14px;
}
