.main-content {
  min-height: 100%;
}

//Index

.main-content__intro {
  position: relative;
  z-index: 10;
}

.main-content__service {
  margin-top: -140px;
  .section-transform(9);
}

.main-content__direction {
  .section-transform(8);
}

.main-content__travelers {
  .section-transform(7);
}

.main-content__prices {
  .section-transform(6);
}

.main-content__registration {
  .section-transform(5);
}

.main-content__address {
  .section-transform(4);
}

.main-content__map {
  .section-transform(3);
}

//Form

.main-content__title-inner {
  position: relative;
  z-index: 10;
}

.main-content__profile {
  .section-transform(3);
}

.main-content__plans {
  .section-transform(4);
}

.main-content__plan-form {
  .section-transform(5);
}
