.main-content {
  height: 100%;
}

//Index

.main-content__intro {
  position: relative;
  z-index: 10;
}

.main-content__service {
  .section-transform(9);
  margin-top: -240px;
}

.main-content__direction {
  .section-transform(8);
}

.main-content__travelers {
  .section-transform(7);
}

.main-content__prices {
  .section-transform(6);
}

.main-content__registration {
  .section-transform(5);
}

.main-content__address {
  .section-transform(4);
}

.main-content__map {
  .section-transform(3);
}

//Form

.main-content__title-inner {
  position: relative;
  z-index: 10;
}

.main-content__profile {
  .section-transform(3);

  @media (min-width: @desktop-width) {
    z-index: 11;
  }
}

.main-content__plans {
  .section-transform(4);
}

.main-content__plan-form {
  .section-transform(5);
}

//Catalog

.main-content__sort {
  .section-transform(3);
}

.main-content__box-catalog {
  margin-top: -60px;
  padding-top: 60px;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.main-content__filters {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}
