.map {
  padding: 60px 0;
  height: 262px;
  background-image: url("../img/mobile/background-map.png");

  @media (min-width: @tablet-width) {
    height: 464px;
  }

  @media (min-width: @desktop-width) {
    height: 396px;
  }
}
