.page-header {
  .set-wrapper;
  z-index: 100;

  a {
    text-transform: uppercase;
  }

  @media (min-width: @tablet-width) {
    background-color: @special-inner-bg;
  }

  @media (min-width: @desktop-width) {
    padding-top: 46px;
    background-color: @basic-blue;
  }

  &--inner {
    background-color: @special-inner-bg;

    @media (min-width: @desktop-width) {
      background-color: @special-inner-bg;
    }
  }

  //&--scroll {
  //  position: fixed;
  //  background-color: @basic-white;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  padding-top: 32px;
  //  padding-bottom: 32px;
  //}
}

.page-header__wrapper {
  position: relative;
}
