.prices {
  .set-wrapper;
  background-color: @special-prices-bg;
  border-radius: 0 0 30px 30px;
  padding-top: 60px;
  .fonts(0; 0; 300);

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
    .fonts(12; 12; 300);
    background-color: @basic-grey;
  }
}

.prices__wrapper {
  padding: 51px 0 39px 24px;
  position: relative;
  z-index: 100;

  @media (min-width: @tablet-width) {
    padding: 70px 0 85px 0;
    background-position: 80% 400px;
  }

  @media (min-width: @desktop-width) {
    padding: 103px 72px 188px 72px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 37px;
    right: 0;
    width: 100px;
    height: 100px;
    background-image: url("../../img/mobile/prices-mobile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/mobile/prices-mobile@2x.png");
      background-size: 100px;
    }

    @media (min-width: @tablet-width) {
      top: auto;
      bottom: 45px;
      right: 45px;
    }

    @media (min-width: @desktop-width) {
      width: 198px;
      height: 198px;
      bottom: 35.3%;
      right: 73px;
      background-image: url("../../img/desktop/prices-desktop.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/desktop/prices-desktop@2x.png");
        background-size: 198px;
      }
    }
  }
}

.prices__title {
  .reset-margins;
  margin-bottom: 42px;
  padding-right: 100px;

  @media (min-width: @tablet-width) {
    text-align: center;
    margin-bottom: 75px;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 135px;
  }
}

.prices__catalog {
  .reset-margins;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }
}

.prices__link {
  //display: block;
  .fonts(0; 0; 700);
  color: @special-links;
  position: relative;

  &:hover,
  &:focus {
    color: rgba(@special-links, 0.7);
  }

  &:active {
    color: rgba(@special-links, 0.3);
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    .fonts(4; 4; 700);
    padding-left: 68px + 21px;
  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      width: 68px;
      height: 68px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: @special-likes-color;
      border-radius: 50%;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      width: 68px;
      height: 68px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-image: url("../../img/icons/icon-businessman.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
