.prices {
  .set-wrapper;
  background-color: @special-prices-bg;
  border-radius: 0 0 30px 30px;
  padding-top: 60px;
  background-image: url("../img/mobile/prices_mobile.png");
  background-repeat: no-repeat;
  background-position: right 97px;
  .fonts(0; 0; 300);
  color: @special-grey-dark;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
    .fonts(12; 12; 300);
    background-color: @basic-grey;
  }
}

.prices__wrapper {
  padding: 53px 0 38px 24px;

  @media (min-width: @tablet-width) {
    padding: 74px 0 85px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 107px 184px 187px 72px;
  }
}

.prices__title {
  .reset-margins;
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    text-align: center;
    margin-bottom: 73px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 107px;
  }
}

.prices__catalog {
  .reset-margins;
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
  }
}

.prices__link {
  display: block;
  .fonts(0; 0; 700);
  color: @special-links;

  @media (min-width: @tablet-width) {
    .fonts(4; 4; 700);
  }
}
