.registration {
  .set-wrapper;
  background-color: @basic-blue-text;
  border-radius: 0 0 30px 30px;
  padding-top: 60px;
  text-align: center;
  .fonts(0; 6; 300);
  color: @basic-white;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}

.registration__wrapper {
  padding-top: 70px;
  padding-bottom: 43px;

  @media (min-width: @tablet-width) {
    padding: 72px 36px 81px 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 105px 73px 134px 73px;
  }
}

.registration__title {
  .reset-margins;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 57px;
  }
}

.registration__text {
  .reset-margins;
  .text;
  padding: 0 30px;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 67px;
    padding: 0;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 61px;
    padding: 0 20%;
  }

  &--question {
    padding: 0;
    margin-bottom: 31px;
    letter-spacing: 0.01em;

    @media (min-width: @tablet-width) {
      margin-bottom: 62px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 76px;
    }
  }
}

.registration__link {
  color: @basic-yellow;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: @basic-orange;
  }

  &:active {
    opacity: 0.3;
  }
}

.registration__mail {
  .reset-margins;
  margin-bottom: 29px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 66px;
  }
}

.registration__mail--submitted .registration__mail-field:invalid {
  color: @error-color;
  background-color: @basic-white;
}

.registration__mail-field {
  .set-font;
  .fonts(2; 2; 700);
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 70px 17px 22px;
  background-color: @basic-white;
  border: 4px solid @basic-white;
  border-radius: 10px;

  &:hover {
    background-color: @basic-grey;
    border-color: @basic-grey;
  }

  &:hover::placeholder {
    opacity: 0.5;
  }

  &:focus {
    background-color: transparent;
    color: white;
  }

  @media (min-width: @tablet-width) {
    padding: 22px 80px 22px 36px;
    border-radius: 20px;
    .fonts(8; 8; 700);
  }

  @media (min-width: @desktop-width) {
    padding-left: 32px;
    padding-right: 340px;
  }

  &::placeholder {
    color: @special-grey-dark;
    opacity: 0.3;
  }
}

.registration__button {
  padding: 31px 30px;
  position: absolute;
  top: 0;
  right: 0;

  @media (min-width: @tablet-width) {
    border-radius: 0 20px 20px 0;
    padding: 40px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 28px 152px 28px 35px;
  }
}

.registration__button-name {
  .set-font;
  .fonts(8; 8; 700);

  &--hide {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}
