.service {
  background-color: @basic-blue-text;
  background-image: url("../img/mobile/about_mobile.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 312px 50px 82px 25px;
  border-radius: 0 0 30px 30px;

  @media (min-width: @tablet-width) {
    padding: 377px 320px 89px 34px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -60px;
    padding: 192px 630px 163px 34px;
    border-radius: 0 0 60px 60px;
  }
}

.service__wrapper {
  .set-wrapper;
}

.service__title {
  .reset-margins;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    .fonts(29; 29; 700);
    margin-bottom: 40px;
  }
}

.service__text {
  .reset-margins;
  .text;

  @media (min-width: @tablet-width) {
    .fonts(12; 17; 300);
  }

  &--bold {
    @media (min-width: @tablet-width) {
      .fonts(5; 9; 700);
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      margin-bottom: 31px;
    }
  }

  &:last-of-type {
    margin-bottom: 52px;
  }
}

.service__link {
  padding: 28px 32px 28px 32px;

  &--hide {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
    .fonts(8; 8; 700);
    width: 274px;
    box-sizing: border-box;
  }
}
