.social-list {
  .reset-margins;
  display: flex;
  justify-content: center;
  .list-style-none;

  &--header {
    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: @basic-yellow;
  border-radius: 50%;
  .fonts(0; 0);

  &--header {
    background-color: transparent;
  }
}
