.sort {
  .set-wrapper;
  padding-top: 60px;
  background-color: @special-likes-color;
  color: @basic-blue-text;
  border-radius: 0 0 20px 20px;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.sort__wrapper {
  padding: 21px 0 16px 0;
  z-index: 100;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 62px 31px 57px 31px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 0;
  }
}

.sort__sort-box {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    padding: 0 20px;
  }
}

.sort__title {
  .reset-margins;
  .fonts(0; 2; 700);
  padding-left: 27px;
  position: relative;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    padding-left: 45px;
    .fonts(4; 4; 700);
  }

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-image: url("../img/icons/filters-title-icon.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: @desktop-width) {
      width: 23px;
      height: 15px;
      background-size: 23px 15px;
    }
  }
}

.sort__toggle {
  border: none;
  background-color: transparent;
  .set-font;
  .fonts(4; 4; 700);
  min-width: 25px;
  max-width: 30%;
  padding: 5px;
  color: @basic-blue-text;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  z-index: 10;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-left: auto;
    padding: 0;
    padding-right: 58px;
    min-width: 185px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 3px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-image: url("../img/icons/filter-dropdown-dots.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      width: 30px;
      height: 6px;
      right: 0;
      transform: translateY(-50%);
      background-size: 30px 6px;
    }
  }

  &--close {
    @media (min-width: @tablet-width) {
      padding-left: 10px;
    }
  }

  &--close::before,
  &--close::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: 6px;
    right: 3px;
    background-image: none;
    background-color: @basic-blue-text;
    border-radius: 10px;

    @media (min-width: @tablet-width) {
      width: 26px;
      top: 50%;
      transform: translateY(-50%);
      margin-top: -2px;
      right: 1px;
    }
  }

  &--close::before {
    transform: rotate(45deg);
  }

  &--close::after {
    transform: rotate(-45deg);
  }
}

.sort__toggle--close > .sort__toggle-name-close {
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.sort__toggle--close > .sort__toggle-name {
  display: none;
}

.sort__toggle-name {
  &--hide {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }
}

.sort__toggle-name-close {
  display: none;

  @media (min-width: @tablet-width) {
    text-align: left;
  }
}

.sort__filter-menu {
  position: absolute;
  border-radius: 0 0 20px 20px;
  top: 35;
  left: -25px;
  padding: 140px 25px 26px 25px;
  width: 100%;
  background-color: @special-likes-color;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
    top: 80px;
    left: -40px;
    padding: 0 40px 78px 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 58px;
    row-gap: 65px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    display: block;
    background-color: transparent;
    padding: 0;
    padding-bottom: 90px;
  }

  &--hide {
    display: none;
  }

  &--nojs {
    position: static;
    display: block;
    padding: 0;

    @media (min-width: @tablet-width) {
      display: grid;
    }

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}

.sort__world-list {
  .reset-margins;
  .list-style-none;
  margin: 32px 0 21px 0;
  padding: 0 25px;
  max-height: 130px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  z-index: 150;

  li:not(:last-of-type) {
    margin-bottom: 5px;
    margin-right: 10px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  &--hide {
    display: none;

    @media (min-width: @tablet-width) {
      display: flex;
    }
  }

  &--nojs {
    display: flex;
    position: static;

    @media (min-width: @tablet-width) {
      position: absolute;
    }
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 0;
    margin: 0;
    top: 73px;
    transform: translateY(-50%);
    max-width: 65%;
  }

  @media (min-width: @desktop-width) {
    top: 71px;
    left: 343px;
  }
}

.sort__world-list-item {
  .fonts(0; 2; 700);
  color: @basic-blue-text;
  opacity: 0.3;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  &--current {
    opacity: 1;
  }

  @media (min-width: @tablet-width) {
    .fonts(4; 4; 700);
    margin-right: 28px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 32px;
  }
}

.sort__alphabet {
  margin-top: 15px;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin: 63px 0 0 25px;
  }

  @media (min-width: @desktop-width) {
    margin: 70px 0 65px 35px;
  }
}

.sort__countries-alphabet-list {
  .reset-margins;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 50px;
    margin: 70px 35px 60px 35px;
  }
}

.sort__countries-alphabet-item {
  display: none;

  &--current-sort {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: block;
    position: relative;
    padding-top: 98px;

    &::before {
      content: attr(data-hover);
      position: absolute;
      top: 0;
      left: 2px;
      color: @basic-blue-text;
      .fonts(44; 44; 700);
    }
  }
}

.sort__close {
  width: 100%;
  background-color: @sort-button;
  .set-font;
  padding: 10px;
  .fonts(0; 4; 700);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: inherit;

  &:hover,
  &:focus {
    background-color: @close-alphabet;
  }

  &:active .sort__close-name {
    color: @basic-blue-text;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    display: block;
    min-width: 615px;
    max-width: 90%;
    .fonts(4; 4; 700);
    letter-spacing: 0;
    padding: 42px 42px 39px 42px;
    border-radius: 20px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    min-width: 1320px;
    max-width: 90%;
  }
}

.sort__close-name {
  display: inline-block;
  padding-left: 27px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 44px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 1.5px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: -2px;
    background-color: @basic-blue-text;
    border-radius: 10px;

    @media (min-width: @tablet-width) {
      width: 26px;
      height: 2px;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
