.sort {
  .set-wrapper;
  padding-top: 60px;
  background-color: @special-likes-color;
  color: @basic-blue-text;
  border-radius: 0 0 20px 20px;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.sort__wrapper {
  padding: 22px 0 22px 0;
  z-index: 100;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 60px 31px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 0;
  }
}

.sort__sort-box {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.sort__title {
  .reset-margins;
  .fonts(0; 2; 700);
  padding-left: 27px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    .fonts(4; 4; 700);
  }
}

.sort__toggle {
  border: none;
  background-color: transparent;
  .set-font;
  .fonts(4; 4; 700);
  color: @basic-blue-text;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.sort__toggle--close > .sort__toggle-name-close {
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.sort__toggle--close > .sort__toggle-name {
  display: none;
}

.sort__toggle-name {
  &--hide {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.sort__toggle-name-close {
  display: none;
}

.sort__filter-menu {
  position: absolute;
  border-radius: 0 0 20px 20px;
  top: 55px;
  left: -25px;
  padding: 120px 25px 28px 25px;
  width: 100%;
  background-color: @special-likes-color;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
    top: 80px;
    left: -40px;
    padding: 0 40px 79px 40px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    background-color: transparent;
    padding: 0;
  }

  &--hide {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  &--nojs {
    position: static;
    display: block;
    padding: 0;
  }
}

.sort__world-list {
  .reset-margins;
  .list-style-none;
  margin-bottom: 21px;
  margin-top: 32px;
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  z-index: 150;

  li:not(:last-of-type) {
    margin-bottom: 5px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }

  &--hide {
    display: none;

    @media (min-width: @tablet-width) {
      display: flex;
    }
  }

  &--nojs {
    display: flex;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 62px;
  }

  @media (min-width: @desktop-width) {
    top: 60px;
    left: 343px;
  }
}

.sort__world-list-item {
  .fonts(0; 2; 700);
  color: @basic-blue-text;
  opacity: 0.3;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  &--current {
    opacity: 1;
  }

  @media (min-width: @tablet-width) {
    .fonts(4; 4; 700);
    margin-right: 28px;
  }
}

.sort__alphabet {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-top: 60px;
    margin-bottom: 80px;
  }
}

.sort__close {
  width: 100%;
  background-color: @sort-button;
  .set-font;
  padding: 12px;
  .fonts(0; 4; 700);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: inherit;

  &:hover,
  &:focus {
    background-color: @close-alphabet;
  }

  @media (min-width: @tablet-width) {
    .fonts(4; 4; 700);
    letter-spacing: 0;
    padding: 42px;
    border-radius: 20px;
  }
}

.sort__close-name {
  &:active {
    opacity: 0.3;
  }
}
