.step {
  background-color: @basic-white;
  border-radius: 10px;
  padding: 24px 25px 23px 25px;
}

.step__title {
  .reset-margins;
  margin-bottom: 16px;
  .fonts(4; 4; 700);
}

.step__text {
  .reset-margins;
  margin-bottom: 20px;
  color: @special-grey-dark;
}

.step__form-box {
  margin-bottom: 20px;
}

.step__question {
  .fonts(-1; -1; 400);
}

.step__scroll {
  margin-bottom: 22px;
}

.step__month {
  margin-bottom: 22px;
}

.step__next {
  display: block;
  .fonts(1; 14; 700);
  text-transform: uppercase;
  padding: 7px;
  text-align: center;
  margin-bottom: 13px;
}

.step__back {
  display: block;
  .fonts(1; 14; 700);
  text-transform: uppercase;
  text-align: center;
  color: @basic-blue-light;
}

.step__button-submit {
  width: 100%;
  .set-font;
  .fonts(1; 14; 700);
  text-transform: uppercase;
  text-align: center;
  padding: 8px;
  margin-bottom: 13px;
}

.step__tour-list {
  .reset-margins;
}

.step__fun-plans {
  margin-bottom: 22px;
}
