.title-inner {
  padding: 40px 0 12px 0;
  border-radius: 0 0 30px 30px;
  background-color: @special-inner-bg;
}

.title-inner__wrapper {
  .set-wrapper;
}

.title-inner__heading {
  .reset-margins;
  .fonts(20; 20; 700);
}
