.tour-list {
  .list-style-none;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: -4px;
    padding-top: 42px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: @prices-border;
    }

    &::after {
      width: 1px;
      height: 105%;
      right: 26%;
      background: linear-gradient(to bottom, @prices-border 0%, @prices-border 80%, rgba(@basic-white, 0) 100%);
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    padding-top: 65px;

    &::after {
      right: 22.5%;
    }
  }
}

.tour-list__item {
  display: grid;
  grid-template-columns: 76% 24%;
  position: relative;

  @media (min-width: @tablet-width) {
    grid-template-columns: 69% 23%;
    column-gap: 5%;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 73% 14.1%;
  }

  &:not(:last-of-type) {
    margin-bottom: 22px;

    @media (min-width: @tablet-width) {
      margin-bottom: 16px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 15px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 75.9%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: @basic-blue-light;
    box-sizing: border-box;

    @media (min-width: @tablet-width) {
      left: 73.9%;
      width: 14px;
      height: 14px;
    }

    @media (min-width: @desktop-width) {
      left: 77.5%;
    }
  }

  &:not(&:last-of-type)::after {
    content: "";
    position: absolute;
    left: 73.9%;
    bottom: -17px;
    width: 8px;
    height: 10px;
    background-image: url("../../img/icons/tour-list-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &--empty::before {
    background-color: transparent;
    border: 1px solid @special-border-grey;

    @media (min-width: @tablet-width) {
      background-color: @basic-white;
    }
  }
}

.tour-list__field {
  .fonts(-2; 2; 500);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 11px 10px;
  border: 1px solid @special-border-grey;
  background-color: @basic-white;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  overflow: hidden;

  &:not(&--flag) {
    cursor: pointer;
  }

  &:not(&--flag):hover,
  &:not(&--flag):focus {
    border-color: @counter-border-hover;
  }

  @media (min-width: @tablet-width) {
    padding: 24px 25px 24px 25px;
    .fonts(4; 4; 500);
    letter-spacing: 0.1em;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(to right, rgba(@basic-white, 0) 0%, rgba(@basic-white, 0) 20%, @basic-white 50%, @basic-white 100%);
  }

  &--open-dropdown {
    padding-left: 15px;
    padding-bottom: 12px;
    letter-spacing: 0.02em;
    background-color: @basic-blue-light;
    border-color: @basic-blue-light;
    color: @basic-white;
    z-index: 30;
    border-end-end-radius: 0;
    border-end-start-radius: 0;

    @media (min-width: @tablet-width) {
      padding: 24px 25px 24px 25px;
      letter-spacing: 0.1em;
    }

    @media (min-width: @tablet-width) {
      padding: 22px 25px 25px 25px;
      letter-spacing: 0.1em;
    }
  }

  &--open-dropdown::after {
    display: none;
  }

  &--flag {
    margin-left: -1px;
    padding: 0;

    &::after {
      display: none;
    }

    @media (min-width: @tablet-width) {
      border: none;
    }
  }

  &--empty {
    grid-column-start: 1;
    grid-column-end: -1;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  &--add {
    background-color: @basic-grey;
    border: none;
    padding: 12px 10px;

    @media (min-width: @tablet-width) {
      padding: 25px 25px 25px 25px;
    }

    &:hover,
    &:focus {
      background-color: @special-grey;
    }

    &:hover .tour-list__button--add,
    &:focus .tour-list__button--add {
      opacity: 0.3;
    }

    &:active .tour-list__button--add {
      opacity: 0.1;
    }

    &::after {
      display: none;
    }
  }
}

.tour-list__field--open-dropdown ~ .tour-list__delete {
  display: none;
}

.tour-list__name {
  .reset-margins;
  margin-right: -50px;
}

.tour-list__button {
  position: absolute;
  padding: 15px;
  width: 14px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  background-color: transparent;
  border: none;
  z-index: 3;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    right: 20px;
  }

  &--more {
    background-image: url("../../img/mobile/arrow-more.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet-width) {
      background-size: 20px 24px;
    }

    @media (min-width: @desktop-width) {
      background-size: 24px 27px;
    }
  }

  &--close {
    opacity: 0.3;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 0.1;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      margin-left: -5.5px;
      width: 11px;
      height: 1px;
      background-color: @basic-white;
      border-radius: 25px;

      @media (min-width: @tablet-width) {
        width: 24px;
        height: 2px;
        margin-left: -10px;
      }

      @media (min-width: @desktop-width) {
        margin-left: -13px;
      }
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &--add::after,
  &--add::before {
    content: "";
    position: absolute;
    background-color: @basic-black;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &--add::after {
    width: 14px;
    height: 2px;

    @media (min-width: @tablet-width) {
      width: 20px;
    }
  }

  &--add::before {
    width: 2px;
    height: 14px;

    @media (min-width: @tablet-width) {
      height: 20px;
    }
  }

  &--add {
    opacity: 0.2;
  }
}

.tour-list__delete {
  position: absolute;
  z-index: 60;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 21px;
  height: 21px;
  background-color: @basic-grey;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover::before {
    opacity: 0.3;
  }

  &:active::before {
    opacity: 0.05;
  }

  @media (min-width: @tablet-width) {
    top: 50%;
    right: -2px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 11px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../img/icons/icon-close.svg");
    background-repeat: no-repeat;
    background-size: 9px 11px;
    opacity: 0.1;

    @media (min-width: @tablet-width) {
      width: 22px;
      height: 24px;
      background-size: auto;
    }
  }
}
