.transport-list {
  .list-style-none;
  display: flex;

  &--profile {
    border: 1px solid @special-border-grey;
    border-radius: 10px;
    padding: 16px;
    box-sizing: border-box;
  }

  &--catalog {
    flex-direction: column;
  }
}
