.travelers {
  background-color: @basic-blue-text;
  background-image:
    url("../../img/desktop/travelers-smolov-back.png"),
    url("../../img/mobile/travelers-rogovaya-back-mobile.png"),
    url("../../img/mobile/service-back.svg");
  background-repeat: no-repeat;
  background-position: 86% 94px, left 367px, left 94px;
  border-radius: 0 0 30px 30px;
  .set-wrapper;
  padding-top: 60px;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../../img/desktop/travelers-smolov-back-desktop@2x.png"),
      url("../../img/mobile/travelers-rogovaya-back-mobile@2x.png"),
      url("../../img/mobile/service-back.svg");
    background-size: 143px, 62px, 113px;
  }

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
    background-image:
      url("../../img/desktop/travelers-smolov-back.png"),
      url("../../img/desktop/travelers-rogovaya-back.png"),
      url("../../img/desktop/service-back-desktop.svg");
    background-position: 40px 41.5%, 84.7% 13.5%, 40px 11.8%;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../../img/desktop/travelers-smolov-back-desktop@2x.png"),
        url("../../img/desktop/travelers-rogovaya-back@2x.png"),
        url("../../img/desktop/service-back-desktop.svg");
      background-size: 143px, 285px, 212px;
    }
  }

  @media (min-width: @desktop-width) {
    background-position: 42.1% 194px, 16.5% 446px, 60px 132px;
  }
}

.travelers__wrapper {
  padding-top: 67px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding: 138px 34px 87px 34px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 50.5%;
    column-gap: 193px;
    padding: 134px 0 134px 70px;
  }
}

.travelers__intro {
  margin-bottom: 56px;
  padding: 0 24px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    margin-bottom: 0;
  }
}

.travelers__title {
  .reset-margins;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -7px;
  }
}

.travelers__text {
  .reset-margins;
  .text;
  padding-right: 2%;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    padding-right: 30%;
    line-height: 34px;

    br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
    line-height: 33px;
  }

  &--bold {
    br {
      display: none;
    }

    @media (min-width: @tablet-width) {
      line-height: 26px;

      br {
        display: block;
      }
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 23px;

    @media (min-width: @tablet-width) {
      margin-bottom: 38px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 41px;
    }
  }
}

.travelers__catalog {
  .reset-margins;
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.travelers__link {
  display: block;

  @media (min-width: @tablet-width) {
    min-width: 620px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    box-sizing: border-box;
    max-height: 80px;
    min-width: 0;
    max-width: 280px;
    margin-top: auto;
  }
}
