.direction {
  background-color: @basic-grey;
  border-radius: 0 0 30px 30px;
  padding: 131px 0 34px 0;
}

.direction__wrapper {
  .set-wrapper;
}

.direction__title {
  .reset-margins;
  margin-bottom: 19px;
}

.direction__text {
  .reset-margins;
  .fonts(0; 0; 300);
  color: @special-grey-dark;
  margin-bottom: 60px;
}

.direction__countries {
  .reset-margins;
  margin-bottom: 25px;
}

.direction__link {
  display: block;
  padding: 22px 23px 22px 23px;
}
