.main-nav {
  background-color: @basic-white;
  left: 0;
  right: 0;
  text-align: center;

  a {
    color: @basic-blue-text;
  }
  padding: 118px 25px 41px 25px;
}

.main-nav__list {
  .reset-margins();
  margin-bottom: 51px;
}

.main-nav__login {
  margin-bottom: 66px;
}

.main-nav__contacts {
  margin-bottom: 53px;
}
