.prices {
  background-color: @special-prices-bg;
  border-radius: 0 0 30px 30px;
  padding: 113px 0 34px 0;
  background-image: url("../img/mobile/prices_mobile.png");
  background-repeat: no-repeat;
  background-position: right 97px;
  .fonts(0; 0; 300);
  color: @special-grey-dark;
}

.prices__wrapper {
  .set-wrapper;
}

.prices__title {
  .reset-margins;
  margin-bottom: 43px;
}

.prices__catalog {
  .reset-margins;
  margin-bottom: 31px;
}

.prices__link {
  display: block;
  .fonts(0; 0; 700);
  color: @special-links;
}
