.travelers {
  background-color: @basic-blue-text;
  background-image: url("../img/mobile/travelers_mobile.png");
  background-repeat: no-repeat;
  background-position: left 94px;
  border-radius: 0 0 30px 30px;
  padding: 128px 0 34px 0;
}

.travelers__wrapper {
  .set-wrapper;
}

.travelers__title {
  .reset-margins;
  margin-bottom: 19px;
}

.travelers__text {
  .reset-margins;
  .text;

  &:not(:last-of-type) {
    margin-bottom: 25px;
  }

  &--bold {
    margin-bottom: 54px;
  }
}

.travelers__catalog {
  .reset-margins;
  margin-bottom: 20px;
}

.travelers__link {
  display: block;
  padding: 22px 23px 22px 23px;
}
